body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.home__index {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh
}

.post__info {
    width: 10%;
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: 10px;
}

.info__item {
    display: flex;
}

.post a {
    margin-top: 10px;
}

.like-button {
    display: flex;
    width: 80px;
    justify-content: space-around;
    height: 35px;
}

.comment__controll textarea {
    max-width: 600px;
    width: 600px;
    height: 90px;
    resize: none;
}

.comment__header small {
    float: right;
}