@{
    ViewBag.Title = "Home";
}

<div class="home__index">
    <h1>Start writting your posts!</h1>
    <div class="btn-group">
        @Html.ActionLink("View posts", "Index", "Posts", new { area = "" }, new { @class = "btn btn-lg btn-primary" })
        @Html.ActionLink("Sign Up", "Register", "Home", new { area = ""}, new { @class="btn btn-lg btn-primary" })
    </div>
</div>